arm_template.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory Name",
            "defaultValue": "ahusw2demo"
        },
        "AzureBlobStorage1_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
        },
        "AzureSqlDW_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureSqlDW'"
        },
        "SourceDataset_cy5_properties_typeProperties_fileName": {
            "type": "string",
            "defaultValue": ""
        },
        "SourceDataset_cy5_properties_typeProperties_folderPath": {
            "type": "string",
            "defaultValue": "sampledata/parttbl3"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/CopyPipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy_cy5",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [
                            {
                                "name": "Source",
                                "value": "sampledata/parttbl3/"
                            },
                            {
                                "name": "Destination",
                                "value": "[concat('[', 'dbo].[H_Part]')]"
                            }
                        ],
                        "typeProperties": {
                            "source": {
                                "type": "BlobSource",
                                "recursive": true
                            },
                            "sink": {
                                "type": "SqlDWSink",
                                "allowPolyBase": true,
                                "writeBatchSize": 10000,
                                "preCopyScript": "truncate table H_Part",
                                "polyBaseSettings": {
                                    "rejectValue": 0,
                                    "rejectType": "value",
                                    "useTypeDefault": true
                                }
                            },
                            "enableStaging": false,
                            "dataIntegrationUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": {
                                    "Prop_0": "p_partkey",
                                    "Prop_1": "p_name",
                                    "Prop_2": "p_mfgr",
                                    "Prop_3": "p_brand",
                                    "Prop_4": "p_type",
                                    "Prop_5": "p_size",
                                    "Prop_6": "p_container",
                                    "Prop_7": "p_retailprice",
                                    "Prop_8": "p_comment"
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SourceDataset_cy5",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DestinationDataset_cy5",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Lookup1",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "Copy_cy5",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlDWSource",
                                "sqlReaderQuery": "select count(*) from H_Part"
                            },
                            "dataset": {
                                "referenceName": "DestinationDataset_cy5",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": false
                        }
                    }
                ],
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SourceDataset_cy5')]",
                "[concat(variables('factoryId'), '/datasets/DestinationDataset_cy5')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DestinationDataset_cy5')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDW",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureSqlDWTable",
                "structure": [
                    {
                        "name": "p_partkey",
                        "type": "Int32"
                    },
                    {
                        "name": "p_name",
                        "type": "String"
                    },
                    {
                        "name": "p_mfgr",
                        "type": "String"
                    },
                    {
                        "name": "p_brand",
                        "type": "String"
                    },
                    {
                        "name": "p_type",
                        "type": "String"
                    },
                    {
                        "name": "p_size",
                        "type": "Int32"
                    },
                    {
                        "name": "p_container",
                        "type": "String"
                    },
                    {
                        "name": "p_retailprice",
                        "type": "Double"
                    },
                    {
                        "name": "p_comment",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat('[', 'dbo].[H_Part]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDW')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/SourceDataset_cy5')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage1",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "AzureBlob",
                "structure": [
                    {
                        "name": "Prop_0",
                        "type": "Int64"
                    },
                    {
                        "name": "Prop_1",
                        "type": "String"
                    },
                    {
                        "name": "Prop_2",
                        "type": "String"
                    },
                    {
                        "name": "Prop_3",
                        "type": "String"
                    },
                    {
                        "name": "Prop_4",
                        "type": "String"
                    },
                    {
                        "name": "Prop_5",
                        "type": "Int64"
                    },
                    {
                        "name": "Prop_6",
                        "type": "String"
                    },
                    {
                        "name": "Prop_7",
                        "type": "String"
                    },
                    {
                        "name": "Prop_8",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "format": {
                        "type": "TextFormat",
                        "columnDelimiter": "|",
                        "rowDelimiter": "\n",
                        "nullValue": "",
                        "encodingName": null,
                        "treatEmptyAsNull": true,
                        "skipLineCount": 0,
                        "firstRowAsHeader": false
                    },
                    "fileName": "[parameters('SourceDataset_cy5_properties_typeProperties_fileName')]",
                    "folderPath": "[parameters('SourceDataset_cy5_properties_typeProperties_folderPath')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlDW')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureSqlDW",
                "typeProperties": {
                    "connectionString": "[parameters('AzureSqlDW_connectionString')]"
                }
            },
            "dependsOn": []
        }
    ]
}